coreapi==2.3.3
Django==2.2.21
django-extensions==2.2.8
django-heroku==0.3.1
django-rest-swagger==2.2.0
djangorestframework==3.10.3
drf-yasg==1.17.0
gunicorn==19.9.0
social-auth-app-django==3.1.0
django-oauth-toolkit==1.2.0
google-auth==1.6.3
model_mommy==2.0.0
